@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
} 
.main-container{
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/original.jpg");
    background-position: center;
}
.bg-container{
    width:100%;
    height:100vh;
    background-color: rgba(224, 207, 151, 0.901);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.logo-container, .logo-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-title{
    font-family: 'Dancing Script', cursive;
    color: rgb(153, 53, 86);
    font-size: 3.4em;
} 
.logo{
    width: 10em;
}
.form-container{
    min-height: 35vh;
}
.input-container{
    display: flex;
    flex-direction: column;
}
.input-container label{
   color: rgb(82, 74, 74);
   font-size: 1.2em;
}  
.input-container input{
    height: 2em;
    border-radius: 7px;
    border:0px
 }  
 .input-container input:focus{
    border:0px
 }  
.login-btn{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    background-color: rgb(153, 53, 86);
    color: rgba(224, 207, 151, 0.901);
    font-size: 1.5em;
    border: 4px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 7px;
    
 }  
 .sung-link{
    width: 80%;
    color:rgb(82, 74, 74);
    text-align: center;
 }  
 .sesion-title{
    display: none;
 }  

 @media screen and (min-width:720px) and(orientation:landscape) 
 {
    .main-container{
        background-image: none;
    }
    .bg-container{
        width:100%;
        display: flex;
        flex-direction:row;
    }
    .logo-container{
        width: 50%;
        height: 100vh;
        background-image: url(../img/original.jpg);
        background-position: center;
        background-size: cover;
    }
    .logo-bg{
        width: 100%;
        height: 100%;
        background-color:rgba(224, 207, 151, 0.901) ;
    }
    .logo{
        width: 25em;
    }
    .logo-title{
        font-size: 6em;
    }
    .form-container{
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(214, 197, 139, 0.993);
    }
    .sesion-title{
        display: block;
        color:rgb(82, 74, 74);
        font-size: 3em;
        margin-bottom: 2em;
    }
    .form{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .login-btn{
        margin-top: 2em;
        width: 40%;
        background-color: rgb(153, 53, 86);
        color:rgba(224, 207, 151, 0.901);
    }
    .input-container{
        width: 100%;
        margin-top: 2em;
    }
    .sung-link{
        font-size: 1em;
    }
 }